.blog-header {
    text-align: center;
    padding: 60px 0;
    position: relative;

    .cover-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &:before {
            content: "";
            background-color: rgba(255,255,255,0.9);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    @media (min-width: 768px) {
        padding: 120px 0;
    }

    .entry-title {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 24px;

        a {
            color: $brandcave_body;
        }
    }

    p {
        display: inline-block;
        max-width: 412px;
        margin: 15px 0;
    }

    .read-more {
        margin-top: 20px;

        @media (min-width: 768px) {
            margin-top: 50px;
        }
    }
}