.content_with_image {
    &.alignment-right .row-media:first-child {
        display: none;
    }

    .row-media {
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    &.alignment-right .row-media {
        background-position: left center;
    }

    &.alignment-left .row-media {
        background-position: right center;
    }

    &.background-type-side-stroke {
        &.alignment-right .row-media {
            background-image: url('img/paintbrush_from_left.png');
        }

        &.alignment-left .row-media {
            background-image: url('img/paintbrush_from_right.png');
        }
    }

    &.background-type-spot .row-media {
        background-image: url('img/paintbrush_spot.png');
        background-size: auto 100%;
    }

    .btn {
        margin-top: 25px;
        font-size: 12px;
    }

    .title {
        font-size: 12px;
        margin: 0 0 15px;
    }

    .headline {
        font-size: 24px;
        margin: 0 0 15px;
    }

    .text-content {
        margin: 0 auto;
        text-align: right;

        .inner {
            text-align: left;
            padding: 0 30px;
            margin-bottom: 30px;
        }
    }

    @media (min-width: 768px) {
        .row-table-wrap {
            display: table;
            width: 100%;
        }

        .inner {
            display: inline-block;
            max-width: 475px;
            margin-bottom: 0;
        }

        .text-content {
            display: table-cell;
            vertical-align: middle;
            width: 41.66666667%;
            max-width: none;
        }

        .row-media {
            img {
                width: 100%;
            }
        }

        &.alignment-right .row-media,
        &.alignment-left .row-media {
            display: table-cell;
            vertical-align: middle;
            width: 58.33333333%;
        }

        &.background-type-side-stroke, &.background-type-spot {
            &.alignment-left, &.alignment-right {
                .row-media {
                    background-image: none;
                }
            }
        }

        &.alignment-right {
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 58.33333333% auto;

            &.background-type-side-stroke {
                background-image: url('img/paintbrush_from_left.png');
            }

            .row-media:first-child {
                display: table-cell;
            }

            .row-media:last-child {
                display: none;
            }

            .text-content {
                padding-left: 30px;
            }
        }

        &.alignment-left {
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 58.33333333% auto;

            &.background-type-side-stroke {
                background-image: url('img/paintbrush_from_right.png');
            }
        }

        &.background-type-spot {
            background-image: url('img/paintbrush_spot.png');
            background-size: 50% auto;

            @media (min-width: 1600px) {
                background-size: auto 100%;
            }

            &.alignment-right {
                // background-position: -15% center;
                background-position: 0 center;

                @media (min-width: 1200px) {
                    // background-position: 0 center;
                }

                @media (min-width: 1600px) {
                    background-position: 5% center;
                }

                @media (min-width: 2000px) {
                    background-position: 25% center;
                }
            }
        }
    }
}