.cta-box {
    background-color: #FFFFFF;
    box-shadow: 0 12px 28px 0 rgba(0,0,0,0.2);
    margin: 100px 0 75px;

    @media (min-width: 768px) {
        margin: 200px 0 150px;
    }

    .content {
        padding: 25px;
        border-bottom: 1px solid #CCCCCC;
        text-align: center;

        @media (min-width: 768px) {
            padding: 40px;
        }

        @media (min-width: 1200px) {
            padding: 60px;
        }

        .title {
            margin: 0 0 15px;
            font-size: 24px;
        }
    }

    .quote {
        padding: 25px;

        @media (min-width: 768px) {
            padding: 25px 40px;
        }

        .quote-img-wrap {
            margin-bottom: 20px;
            text-align: center;

            @media (min-width: 768px) {
                width: 100px;
                float: left;
                margin: 0;
            }

            img {
                width: 100px;
                border-radius: 50px;
            }
        }

        .quote-text {
            @media (min-width: 768px) {
                width: calc(100% - 100px);
                float: left;
                padding-left: 25px;
            }
        }

        blockquote {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .attribution {
            display: block;
            padding-left: 40px;
            font-size: 12px;
        }
    }
}