.gform_wrapper.subscribe-form_wrapper {
    margin: 100px 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.1);

    @media (min-width: 768px) {
        > form {
            display: table;
            width: 100%;
        }

        div.validation_error {
            display: table-row;
        }
    }

    &.gform_validation_error {
        padding-top: 20px;
    }

    .gform_body {
        padding: 20px;

        .gfield_label {
            color: transparentize(#34495E, .5);
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        ::placeholder {
            font-size: 28px;
        }

        input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
            border-left: none;
            border-top: none;
            border-right: none;
            border-bottom: 2px solid rgba(0,0,0,0.5);
            font-size: 28px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 0;
            color: #333333;
            border-radius: 0;
        }

        .top_label {
            div.ginput_container {
                margin-top: 0;
            }
        }

        @media (min-width: 768px) {
            display: table-cell;
            width: 80%;
            margin: 0;
            padding: 15px 30px;
        }

        li.gfield {
            margin: 0 0 15px 0;
            padding: 0;
        }

        @media (min-width: 992px) {
            padding-left: 90px;
            padding-right: 120px;
        }
    }

    &.gf_browser_chrome .gform_body {
        width: 80%;
    }

    .gform_footer {
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;

        @media (min-width: 768px) {
            display: table-cell;
            vertical-align: middle;
            clear: none;
            width: 20%;
        }

        input[type="submit"] {
            margin: 0;
            width: 100%;
            color: #FFFFFF;
            background: $brandcave_primary;
            border: none;
            padding: 20px 32px;
            font-size: 18px;
            font-weight: bold;
            text-shadow: 0 -1px 0 #3A8CCA;
            border-radius: 0;

            @media (min-width: 768px) {
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                height: 100%;
            }
        }
    }

    .gform_ajax_spinner {
        margin-left: -8px;
        position: absolute;
        left: 50%;
        bottom: 20px;
        padding: 0;
    }
}

.gform_confirmation_wrapper.subscribe-form {
    padding: 30px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.1);
    font-size: 24px;
}

.subscribe-form_wrapper.gf_browser_gecko.gform_wrapper {
    .gform_footer {
        background-color: $brandcave_primary;

        @media (min-width: 768px) {
            input[type="submit"] {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
}