.page-template-about {
    h1.entry-title {
        font-size: 24px;
    }

    .entry-content {
        text-align: center;

        p {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 412px;
        }
    }

    .person {
        text-align: center;
        margin-bottom: 50px;

        .inner {
            background-color: #FFFFFF;
            box-shadow: 0 0 50px 0 rgba(0,0,0,0.1);
        }

        .cover-background {
            height: 300px;

            @media (min-width: 768px) {
                height: 224px;
            }

            @media (min-width: 992px) {
                height: 300px;
            }

            @media (min-width: 1200px) {
                height: 334px;
            }
        }

        .content {
            padding: 25px 20px;
        }

        .name {
            font-size: 24px;
            font-weight: 300;
        }

        .title {
            font-size: 14px;
        }
    }
}