body.blog {
    .posts {
        @media (min-width: 768px) {
            > div:nth-child(2n+1) {
                clear: left;
            }
        }
    }

    .blog-header + .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    article.excerpt {
        display: table;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        height: 260px;

        .thumbnail-wrap {
            display: table-cell;
            width: 42%;
        }

        .entry-title {
            margin-top: 0;
            font-size: 18px;

            a {
                color: $brandcave_body;
            }
        }

        .entry-content {
            display: table-cell;
            width: 58%;
            vertical-align: top;
            padding: 50px 25px 84px;
            background-color: #FFFFFF;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
            position: relative;

            &.no-thumbnail {
                width: 100%;
            }
        }

        .read-more {
            display: block;
            position: absolute;
            bottom: 50px;
            left: 25px;
            width: calc(100% - 50px);
        }
    }

    .pagination {
        float: right;
    }
}