.site-footer {
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
    }

    a {
        color: $brandcave_body;
    }

    .logo-wrap {
        text-align: center;
        margin-bottom: 50px;

        @media (min-width: 992px) {
            text-align: left;
            margin-bottom: 0;
        }
    }

    .company-details {
        margin-bottom: 50px;
        line-height: 24px;

        address {
            margin-bottom: 0;
            line-height: 24px;
        }

        p {
            margin-bottom: 15px;
        }

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }

    .copyright {
        font-size: 10px;

        a {
            font-weight: bold;
        }
    }

    .footer-menu {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            display: inline-block;
            line-height: 24px;
            margin-bottom: 15px;
        }

        > li {
            display: block;
            float: left;
            width: 50%;

            &:nth-child(2n+1) {
                clear: left;
            }

            @media (min-width: 768px) {
                display: inline-block;
                width: auto;
                margin-right: 30px;
                clear: none;
            }

            > a {
                font-weight: bold;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .sub-menu {
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                display: block;

                &:last-child {
                    a {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}