.gform_wrapper {
    .gform_body {

        input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
            border-radius: 5px;
            border: 1px solid #CCCCCC;
            padding-left: 10px;
        }

        ::placeholder {
            color: #B3B3B3;
        }

        .gfield.infield {
            .gfield_label {
                position: absolute;
                left: -10000px;
                top: -10000px;
            }
        }

        .ginput_container {
            position: relative;
        }

        i.icons {
            position: absolute;
            left: 10px;
            top: 50%;
            margin-top: -7px;
            pointer-events: none;
            color: #B3B3B3;
        }

        li[class*="has-icon"] {
            input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
                padding-left: 30px;
            }
        }
    }

    .gform_footer {

    }
}