.site-header {
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        height: 36px;
        line-height: 36px;

        > img {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .navbar-text {
        line-height: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $brandcave_body;

        a {
            color: $brandcave_body;
        }
    }

    img {
        max-height: 100%;
        width: auto;
    }
}

.main-navigation {
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    margin-bottom: 0;

    .caret {
        position: relative;
        top: -1px;
    }

    .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar-collapse, .navbar-form {
        border: none;
        box-shadow: none;
    }

    .navbar-nav {

        > li {
            @media (min-width: 1200px) {
                &.extra-margin {
                    margin-left: 50px;
                }
            }

            &.has-btn-primary {
                text-align: center;
            }

            > a {
                line-height: 16px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: $brandcave_body;

                &.btn-primary {
                    padding-top: 9px;
                    padding-bottom: 9px;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: #FFFFFF;
                    font-size: 13px;
                    display: inline-block;
                    margin: 0 auto;

                    @media (min-width: 768px) {
                        margin: 0;
                        padding-left: 30px;
                        padding-right: 30px;
                    }

                    &:hover, &:focus {
                        background: #3096DC;
                    }
                }
            }
        }
    }
}