body.page-template-home {

    .content-area {
        padding-top: 0;
        padding-bottom: 0;
    }

    section.intro {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
        background-image: url('img/hemisphere_top.png');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: auto 100%;

        h1 {
            font-size: 24px;
        }

        h1, h2, h3, p {
            margin: 0 0 15px;
        }

        p {
            display: inline-block;
            max-width: 412px;
            font-size: 12px;
        }

        a {
            color: $brandcave_body;
            text-decoration: underline;
        }

        .intro-image {
            margin-top: 40px;
        }
    }

    section.services {
        text-align: center;
        margin-top: 60px;

        .container {
            max-width: 900px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 50px;

            a {
                color: $brandcave_body;
            }
        }
    }

    .content_with_image {
        padding: 40px 0;

        @media (min-width: 768px) {
            padding: 100px 0;
        }
    }

    .cta-box-wrap {
        position: relative;
        bottom: -40px;

        .cta-box {
            margin: 0;
        }
    }

    .home-footer-image {
        text-align: center;
        position: relative;
        top: 20px;
    }

    .site-footer {
        padding-top: 120px;
    }
}