body.page-template-landing {

    .page-title {
        font-size: 24px;
    }

    .landing-feature {
        padding: 50px 20px;
        background-image: url('img/paintbrush_spot_large.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 105% auto;
    }

    .landing-content {
        background-color: #F5F5F5;
        box-shadow: 0 12px 28px 0 rgba(0,0,0,0.2);
        padding: 50px 20px;

        .divider {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #CCCCCC;
        }
    }

    @media (min-width: 768px) {
        .content-area {
            padding: 0;
        }

        .site-main {
            display: table;
            width: 100%;
        }

        .landing-feature {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            padding: 0;

            .entry-content {
                margin: 0;
            }

            .inner {
                padding: 30px;
                max-width: 570px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .landing-content {
            display: table-cell;
            width: 50%;
            padding: 0;
            text-align: left;

            .page-title, .entry-content {
                max-width: 510px;
                padding: 45px 90px;
            }

            .divider {
            }
        }
    }

    @media (min-width: 992px) {
        .landing-feature {
            width: 57.152%;
        }
        .landing-content {
            width: 42.8472%;
        }
    }

    @media (min-width: 1200px) {
        .landing-feature {
            .inner {
                margin-right: 120px;
            }
        }
    }

    .gform_wrapper {
        margin-bottom: 0;

        .gform_footer {
            padding-bottom: 0;
        }
    }
}