body {
    font-family: 'Open Sans', sans-serif;
    color: $brandcave_body;
}

p {
    line-height: 1.714;
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

blockquote {
    padding: 0 0 0 40px;
    margin: 0 0 20px 0;
    border: none;
    quotes: "“" "”";
    position: relative;

    &:before {
        content: open-quote;
        color: $brandcave_primary;
        font-size: 64px;
        display: inline-block;
        margin-right: 15px;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 50px; // This may only work for Open Sans
    }
}

.pre-footer {
    background-image: url('img/hemisphere_bottom.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
}

.cover-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.pagination {
    li {
        a {
            color: $brandcave_body;
        }

        &.disabled {
            > span {
                background-color: transparentize($brandcave_body,.9);
            }
        }
    }
}

.entry-content {
    a {
        // color: $brandcave_body;
        // text-decoration: underline;
    }
}