body.page-template-service {
    .content-area {
        padding-top: 0;
        padding-bottom: 0;
    }

    .background-type-left-stroke {
        background-image: url('img/paintbrush_from_left_2.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        // background-size: 100% auto;
    }

    .background-type-hemisphere {
        background-image: url('img/hemisphere_top.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto 100%;
    }

    section.intro {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;

        h1, h2 {
            font-size: 24px;
        }

        h1, h2, h3, p {
            margin: 0 0 15px;
        }

        p {
            display: inline-block;
            max-width: 412px;
            font-size: 12px;
        }

        a {
            color: $brandcave_body;
            text-decoration: underline;
        }

        .intro-image {
            margin-top: 40px;
        }
    }

    .content_with_image {
        padding: 40px 0;

        @media (min-width: 768px) {
            padding: 100px 0;
        }
    }

    .content_with_image {
        .text-content {
            vertical-align: top;
        }
    }
}