body.single {
    .featured-image-container {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 200px;

        @media (min-width: 768px) {
            height: 300px;
        }

        @media (min-width: 1200px) {
            height: 400px;
        }
    }

    article {
        margin-bottom: 75px;

        &.has-thumbnail {
            position: relative;
            top: -75px;

            header {
                box-shadow: 0 0 50px 0 rgba(0,0,0,0.1);
                background-color: #FFFFFF;
                margin-bottom: 75px;
            }
        }

        header {
            text-align: center;
            padding: 20px;

            @media (min-width: 768px) {
                padding: 40px;
            }

            a {
                font-weight: bold;
                color: $brandcave_body;
            }
        }

        .entry-title {
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 24px;
        }
    }
}