.btn {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    word-break: break-word;
    white-space: normal;

    @media (min-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.btn-primary {
    border-color: #339CE1;
    background: #43AEE6;
    background: linear-gradient(to bottom,  #43AEE6 0%,#3096DC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43aee6', endColorstr='#3096dc',GradientType=0 );

    &.text-shadow {
        text-shadow: 0 -1px 0 #3A8CCA;
    }

    &.shadow {
        box-shadow: 0 1px 2px 0 #9FB8C8;
    }

    &:hover, &:focus {
        border-color: #339CE1;
        background: #3096DC;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3096dc', endColorstr='#43aee6',GradientType=0 );
    }
}